.about
  margin-bottom 32px

.about__block
  display flex
  flex-direction column

.about__input
  background-color transparent
  background-image url($line_image)
  background-position -6px -9px
  border none
  padding-bottom 8px
  font-size 30px
  font-family "Courier New"
  color rgb(35, 31, 32)
  margin-bottom 20px
