.about
  +section-title('Расскажите о себе словами')
  p.section-title__desc Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
  .about__block
    input.about__input(type='text' maxlength='40' value='Я перфекционист и мои глаза горят.')
    input.about__input(type='text' maxlength='40' value='Мне нравится философия вашей компании.')
    input.about__input(type='text' maxlength='40' value='P.S. должна появится новая строка')
