.plans
  +section-title('Какие у вас планы на будущее?')
  p.section-title__desc.section-title__desc--margin--small Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
  .plans__row
    label.plans__radio
      input.plans__input(type='radio' name='plans')
      .plans__input-fake
      span.plans__name Верстать
    label.plans__radio
      input.plans__input(type='radio' name='plans' checked)
      .plans__input-fake
      span.plans__name Прокачиваться в JS
    label.plans__radio
      input.plans__input(type='radio' name='plans')
      .plans__input-fake
      span.plans__name Менеджерство
    label.plans__radio
      input.plans__input(type='radio' name='plans')
      .plans__input-fake
      span.plans__name Другое