.page
  background-color #797979
  font-family 'PT Sans', sans-serif

.wrapper
  max-width 1000px
  height 100%
  margin 0 auto
  background-image url('../../bg-pattern.jpg')

.container
  width calc(100% - 40px)
  max-width 770px
  margin 0 auto