.complete
  margin-bottom 70px

.complete__box
  display flex
  align-items flex-end

.complete__text
  font-size 23px
  color rgb(47, 27, 21)
  font-weight bold
  margin-right 10px

.complete__input
  background-color transparent
  border none
  background-image url($line_image)
  background-position -6px -9px
  padding-bottom 8px
  padding-left 12px
  font-size 30px
  font-family "Courier New"
  color rgb(35, 31, 32)
  width 210px
