.info
  .info__row
    label.info__block
      span.info__head Полное ФИО
      input(type='text' value='Харламов Дмитрий Евгеньевич').info__input
  .info__row
    label.info__block
      span.info__head Год рождения
      input(type='text' value='1985').info__input
  .info__row
    label.info__block
      span.info__head Место жительства
      input(type='text' value='г. Минск, Беларусь').info__input
  .info__row
    label.info__block
      span.info__head Скайп
      input(type='text' value='dimaharlamov').info__input
  .info__row
    label.info__block
      span.info__head Почта
      input(type='text' value='newdimaak@gmail.com').info__input