.info
  margin-bottom 50px

.info__row
  margin-bottom 20px

  &:last-childe
    margin-bottom 0

.info__block
  display flex
  align-items flex-end

.info__head
  font-size 23px
  color rgb(47, 27, 21)
  font-weight bold
  margin-right 10px

.info__input
  background-color transparent
  border none
  background-image url($line_image)
  background-position -6px -9px
  padding-bottom 8px
  padding-left 12px
  font-size 30px
  font-family "Courier New"
  color rgb(35, 31, 32)
  flex 1
