.slider
  margin-bottom 45px

.slider__box
  position relative

.slider__bg
  sprite $slider

.slider__text
  display flex

.slider__level
  font-size 13px
  color rgb(47, 27, 21)
  font-weight bold

.slider__level--1
  width 19%

.slider__level--2
  width 30%

.slider__level--3
  width 22%

.slider__level--4
  margin-left auto

.slider__switch
  sprite $switch
  position absolute
  top 10px
  left 367px
  cursor pointer
