.slider
	+section-title('Уровень владения JavaScript')
	.slider__box
		.slider__bg
		.slider__text
			span.slider__level.slider__level--1 Не владею
			span.slider__level.slider__level--2 Использую готовые решения
			span.slider__level.slider__level--3 Использую готовые решения и умею их переделывать
			span.slider__level.slider__level--4 Пишу сложный с JS нуля
		.slider__switch