-	var skillsList = [{'name': 'БЭМ/OOCSS','checked': true},{'name': 'Pug (Jade)','checked': true},{'name': 'Stylus/LESS/SASS','checked': true},{'name': 'Работаю с SVG','checked': true},{'name': 'Верстаю семантично','checked': true},{'name': 'Accessibility(A11Y)'},{'name': 'ES2015/ES2016','checked': true},{'name': 'Gulp/Grunt','checked': true},{'name': 'Webpack','checked': true},{'name': 'Дружу с WebGL'},{'name': 'jQuery','checked': true},{'name': 'Знаю/изучаю Angular'},{'name': 'Знаю/изучаю React'},{'name': 'Знаю/изучаю Vue', 'checked': true},{'name': 'Знаю/изучаю Node.js'},{'name': 'Использую Git','checked': true},{'name': 'С глазомером все ok','checked': true},{'name': 'Читаю', 'link': '#','text': 'blog.csssr.ru','checked': true},{'name': 'Я ленивый(-ая)'},{'name': 'У меня хороший английский'}]

each item in skillsList
  label.skill
    if (item.checked)
      input.skill__input(type='checkbox' checked)
    else
      input.skill__input(type='checkbox')
    .skill__fake
    span.skill__name= item.name
    if (item.link)
      a.skill__link(href=item.link)= item.text
